.hed1 {
  margin-left: 50px;
}

.hed2 {
  margin-right: 50px;
}

img {
  border-radius: 100px;
}

#nav {
  margin-bottom: 40px;
}

.pertama {
  background-color: #f9f9f9;
}

body {
  min-height: 2000px;
  background-color: #f9f9f9;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1128%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='rgba(241%2c 220%2c 209%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c594.454C130.779%2c606.613%2c270.397%2c662.973%2c385.998%2c600.624C502.772%2c537.642%2c546.012%2c395.12%2c596.824%2c272.56C646.062%2c153.798%2c717.971%2c24.175%2c675.264%2c-97.088C632.914%2c-217.336%2c465.532%2c-234.721%2c383.729%2c-332.503C299.604%2c-433.06%2c318.928%2c-622.338%2c196.534%2c-669.332C76.519%2c-715.412%2c-35.496%2c-577.196%2c-158.796%2c-540.808C-281.858%2c-504.49%2c-451.699%2c-560.431%2c-526.273%2c-456.018C-602.655%2c-349.074%2c-491.336%2c-202.456%2c-494.293%2c-71.069C-496.76%2c38.526%2c-568.834%2c141.257%2c-542.109%2c247.573C-513.226%2c362.475%2c-442.268%2c469.041%2c-342.473%2c532.898C-242.755%2c596.705%2c-117.877%2c583.495%2c0%2c594.454' fill='%23e0b29a'%3e%3c/path%3e%3cpath d='M1440 1445.577C1523.73 1443.9560000000001 1594.341 1393.792 1669.998 1357.884 1757.557 1316.327 1863.712 1298.4859999999999 1918.444 1218.498 1975.728 1134.781 1977.2150000000001 1025.166 1966.7 924.272 1955.895 820.6 1943.95 696.7280000000001 1857.929 637.8620000000001 1770.527 578.0509999999999 1652.52 639.31 1546.641 636.815 1472.858 635.076 1400.995 605.211 1330.014 625.423 1258.718 645.7239999999999 1210.885 705.935 1150.907 749.499 1070.578 807.844 947.315 830.143 917.695 924.904 888.606 1017.966 958.393 1113.905 1011.428 1195.722 1059.138 1269.324 1128.429 1322.7269999999999 1204.205 1366.904 1277.266 1409.498 1355.445 1447.214 1440 1445.577' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1128'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}

.nav-link {
  color: #deab90;
}

p {
  color: #696969;
}

.nama {
  font-family: "Merriweather", serif;
  color: #696969;
}

.p1 {
  margin-bottom: 40px;
}

.kopi {
  margin-top: -10px;
  margin-bottom: 25px;
}

h6 {
  color: #696969;
}

#rating {
  background-color: #f3dfc1;
}

h2 {
  color: #696969;
}

.pr {
  background-color: #6e4230;
}

.progress {
  margin-top: -10px;
  margin-bottom: 15px;
}
